{% extends "base.twig" %}

{% block content %}

    <h1>My Ratings</h1>
    <table class="sortable">
        <thead>
        <tr>
            <th class="nowrap"><!-- Thumbnail --></th>
            <th class="nowrap">Map</th>
            <th class="nowrap">Overall Rating</th>
            <th class="nowrap">Your Rating</th>
            <th class="nowrap">Voted on</th>
            <th class="nowrap">Links</th>
        </tr>
        </thead>
        <tbody>
        {% if ratings.count() == 0 %}
            <tr>
                <td colspan="6">You have no ratings! <a href="https://openplanet.dev/plugin/trackratings"
                                                        target="_blank">Grab the plugin</a> and start voting!
                </td>
            </tr>
        {% endif %}
        {% for item in ratings %}
            <tr>
                <td class="mapScreenshot"
                    {% if item.map.getTMXScreenshot() %}style="background-image:url('{{ item.map.getTMXScreenshot() }}');"{% endif %} ></td>
                <td>{{ item.map.name }}<br/><small><em>by <a
                                    href="https://trackmania.io/#/player/{{ item.map.authorLogin }}" target="_blank"
                                    class="tmioLink">{{ item.map.authorName }}</a></em></small>
                </td>
                <td class="nowrap">
                    {{ (item.map.getVoteTotals()["++"] / (item.map.getVoteTotals()["--"]+item.map.getVoteTotals()["++"]))|format_percent_number(locale=trs.user.locale) }}
                    <br/>
                    <small><em>({{ (item.map.getVoteTotals()["--"]+item.map.getVoteTotals()["++"])|format_number(locale=trs.user.locale) }}
                            votes)</em></small>
                </td>
                <td class="nowrap"
                    data-sort="{{ item.vote }}">{% if item.vote == constant('\Map::VOTE_UP') %}++{% elseif item.vote == constant('\Map::VOTE_DOWN') %}--{% else %}??{% endif %}
                    <br/><small><em>{% if item.PB > 0 %}{{ item.map.formatPB(item.PB) }}{% endif %}</em></small>
                </td>
                <td class="nowrap"
                    data-sort="{{ item.voteTime.timestamp }}">{{ item.voteTime.locale(trs.user.locale).isoFormat("lll") }}
                    <br/><small><em>{{ item.voteTime.locale(trs.user.locale).longRelativeDiffForHumans(2) }}</em></small>
                </td>
                <td class="mapLinkBar">
                    <a href="https://trackmania.io/#/leaderboard/{{ item.map.id }}"><img src="/img/iconTIO.png"
                                                                                         alt="Trackmania.io"/></a>
                    <a href="{{ item.map.getTMXLink() }}"><img src="/img/iconTMX.png"
                                                               alt="TrackmaniaExchange"/></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
